<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829104594703-8j7qfn5s369mh4tr712ndrei4eb860mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829104594703-8j7qfn5s369mh4tr712ndrei4eb860mb</string>
	<key>API_KEY</key>
	<string>AIzaSyAT1b5PnDTi_gMQdraMfSOAj3qqvLg1nRs</string>
	<key>GCM_SENDER_ID</key>
	<string>829104594703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoappWithProvider</string>
	<key>PROJECT_ID</key>
	<string>todo-e05df</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-e05df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829104594703:ios:d3574c44b9a9330c61687a</string>
</dict>
</plist>